<?xml version="1.0" encoding="utf-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
		id= "com.phonegap.example"
		version=  "1.0.0">
		
		<name>FAST INFO APP</name>
		<description>
		Simple app to display information about FAST-NUCES</description>
		<author href="https://example.com" email="zain_mughal@ymail.com">
		Mohammad Zainulabadin Mughal
		</author>
		
		<preference name = "phonegap-version" value="3.3.0"/>
		</widget>